* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #f9f9f9;
}

header *, main *, footer * {
    position: relative;
}


nav li {
    display: inline-block;
}

nav ul {
    text-align: center;
}

#navigation {
    background-color: #808080;
    padding: 30px;
}

#navigation a, footer a {
    color: #FFF;
}

#navigation li {
    padding: 20px;
}

#navigation a:hover, {
    color: #333;
    text-decoration: underline;
}

#banner {
    background-color: #808080;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    color: #333;
    padding: 40px;
    text-align: center;
}

main {
    padding: 30px;
}

main * {
    background-color: #f9f9f9;
    font-size: 18px;
    color: #333;
}

main dev {
    margin: 20px 20px;
}

#html-tbl, #html-tags, #smntc-tags {
    margin: 40px 40px;
}

main h3 {
    font-size: 24px;
}

main a {
    color: #06c;
}

main a:hover {
    color: #004d99;;
}

table {
    margin: 10px 10px;
    max-width: 100%;
}
  
table, thead, tbody, th, tr, td {
    border: 1px solid #ddd;
}

.row-alt {
    background-color: #f2f2f2;
}

th {
    background-color: #333;
    color: #FFF;
}

td {
    overflow: auto;
    word-wrap: break-word;
    padding: 10px;
    max-width: 400px;
}

#about {
    max-width: 90%;
}
  
#vdo-tag, #img-tag, #aud-tag {
    max-width: 100%;
    max-height: 100%;
}

#contact {
    text-align: right;
    right: 10%;
}

#bck-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 10;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 30px;
    background-color: rgba(200, 200, 200, 0.5);
    color: #333;
    padding-top: 25px;
}

footer {
    background-color: #333;
    color: #FFF;
    font-size: 16px;
    padding: 20px;
}

footer a:hover {
    color: #808080;
}